<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>SamuelLang</title>
	<link rel="icon" href="/favicon.svg"/>
	<link rel="stylesheet" href="/index.css">
	<link rel="stylesheet" href="/prism.css">
	<script src="/prism.js"></script>
</head>
<body>
	<h1>SamuelLang</h1>
	<a href="/">Home</a> |
	<a href="/docs">Documentation</a> |
	<a href="/get">Download</a> |
	<a href="/repl">Code Online</a> |
	<a href="/contribute">Contribute</a> |
	<a href="/packages">Package Manager</a>
	<hr />
	{{{body}}}
</body>

</html>