<h2>Download</h2>
<h3>Via NPM (recommended)</h3>
<code class="language-bash">
    npm install --global samuellang
</code>
<h3>Via Git (build from source)</h3>
<p>First, clone the repo:</p>
<code class="language-bash">
    git clone https://github.com/SISBEST/samuellang
</code>
<p>Then, change into the directory.</p>
<code class="language-bash">
    cd samuellang
</code>
<p>Then run npm install to install all the dependencies.</p>
<code class="language-bash">
    npm install
</code>
<p>Finally, create symlinks between your bin folder and the app:</p>
<code class="language-bash">
    npm link
</code>