<h2>Code Online</h2>
<h3>replit</h3>
<p>
    Coding with samuellang on replit is easy! Just fork <a href="https://repl.it/@SamuelBlue/SamuelLang-Starter#main.samuel">this repl</a> and get to work! The included index.js script will call the code execution API and run your code for you.
</p>
<h3>Code Execution API</h3>
<p>
    Don't want to use replit? You're missing out, but OK. Just make a post request to
    <code class="language-bash">https://lang.samuelsharp.com/execute</code>
    with all your data!
</p>