<h2>Documentation</h2>
<p>
    After you <a href="/get">download</a> the language or <a href="/repl">run it online</a>, you'll be able to access 3 command line tools:
    <code class="language-bash">samuel</code>,
    <code class="language-bash">spm</code>, and
    <code class="language-bash">samuelit</code>.
</p>
<h3>Spec</h3>